body {
    background-color: rgb(149, 21, 21);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/siteLogo01.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50%;
    background-position: center;
    background-position-y: 100px;
}

.title {
    color:rgb(255, 255, 255);
    text-align: center;

}


a {
    text-decoration: none;
    color: rgb(148, 121, 247);
    /*color: purple;*/
}

a:hover {
    color: violet;
}

.bottom {
    position:fixed;
    left: 35vw;
    bottom: 0;
    max-width: 100%;
    height: auto;
    letter-spacing: 0.1vw;
    font-size: 1vw;
    color: white;
    text-align: center;
  }

  .bottomNH {
    font-size: 1vw;
    color: white;
    text-align: center;
    letter-spacing: 0.1vw;
  }

  header {  
    background-color: rgb(255, 255, 0);  
    position: absolute; 
    left: 0;  
    right: 0;  
    top: 70px;  
    height: 30px;  
    display: flex;  
    align-items: center;  
    box-shadow: 0 0 5px 0 black; 
    }  

    header * {  
    display: inline;
    }  

    header li {  
    margin: 20px; 
    }  

    header li a {  
    color: blue;  
    text-decoration: none;
    }  

    .start_index {
        margin-top: 5vw;
    }

    .news_box {
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 88px;
        align-items: center;
        text-align: center;
        padding: 10px;
        border: 10px red;
        margin-top: 70px;
        background-color: white;
        border-radius: 7px;
    }

    .projects_box {
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 128px;
        align-items: center;
        text-align: center;
        padding: 10px;
        border: 10px red;
        margin-top: 70px;
        background-color: white;
        border-radius: 7px;
    }

    .smaller_text {
        font-size: smaller;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    
    .project {
        max-width: 47.25%;
        /*padding: 10px;
        padding: 20px 10px;*/
        background: yellow;
        margin: auto;
        padding-left: 4vw;
        padding-right: 4vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        border: 0.5vw solid #000000;
        border-radius: 7px;
    }

    .project img{

        max-width: 22.5%;
        height: auto;
        border: 4px solid #0a968fab;
        margin-left: 6vw;
        margin-right: 6vw;
        display:flexbox;


        /*margin: 5vw;
        margin-left: 14%;
        margin-right: 9%;*/
        
    }
    
    .project img:hover{
        border: 4px dashed #030592ab;
    }

    .project h2 {
        text-align: center;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 3.33%;
    }

    .medImage {
        max-width: 10%;
        height: auto;
        margin-top: 2vw;
        margin-left: 7vw;
        margin-right: 7vw;
        display:flexbox;
    }

    .medImage :hover {
        border: 4px dashed #030592ab;
    }
